@import "validation";

table.table th {
    text-align: center;
    vertical-align: middle !important;
}

table.wauto {
    width: auto;
}

.center, td.center, div.center {
    text-align: center;
}

td.number {
    text-align: right;
}

.memo {
    margin-left: 8px;
    font-size: 90%;
    color: #009900;
}

.nowrap {
    white-space: nowrap;
}

footer {
    color: #ccc;
    background-color: #000;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}

.markdown {
    h1 {
        padding-left: 0;
        background-image: none;
        font-size: 200%;
        border-right: none;
    }

    h2 {
        font-size: 180%;
    }

    h3 {
        font-size: 150%;
        font-weight: bold;
    }

    h4 {
        font-size: 120%;
        font-weight: bold;
    }

    ul > li {
        list-style: disc;
    }

    ol > li {
        list-style: decimal;
    }

    .title {
        border-bottom: #999 dashed 1px;
        padding-bottom: 5px;
    }

    table {
        width: auto;
    }
}

.tree-menu {
    line-height: 1em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul {
        position: relative;
        margin-top: 0.5em;
        margin-left: 1em;
        li {
            position: relative;
            margin: 0;
            padding: 0.5em 1em;
        }

        li:before {
            content: "";
            display: block;
            position: absolute;
            top: 1em;
            left: 0;
            width: 0.5em;
            height: 0;
            border-top: 1px solid currentColor;
        }

        li:last-child:before {
            top: 1em;
            bottom: 0;
            height: auto;
            background-color: #fff;
        }
    }

    ul:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        border-left: 1px solid currentColor;
    }

    > li {
        margin-bottom: 0.5em;
    }
}

.fixed-parsed {
    .fixed-length {
        td, th {
            font-size: 80%;
            padding: 3px;
        }
    }

    table {
        width: auto;
    }

    .parsed-columns {
        overflow: scroll;
    }
}

div.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 999;
    .btn-floating {
        display: inline-block;
        width: 56px;
        height: 56px;
        vertical-align: middle;
        color: white;
        padding-top: 15px;
        border-radius: 50%;
        text-align: center;
        &:hover {
            color: white;
        }
    }
}
