.validation-parent {
    position: relative;
}

.validation {
    background: #ed7d31 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    left: 80px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    text-align: center;
    top: -20px;
    z-index: 9999;
    display: none;
    &:after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #ed7d31 transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        bottom: -12px;
        content: "";
        position: absolute;
        left: 10%;
        z-index: 9999;
    }
}
